.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	background-color: #1a1a1a;
	border-radius: 8px;
	box-shadow: 0 0 1em #000000aa;
	border: 1px solid #a91d3a;
	cursor: pointer;
}

.card:hover {
	box-shadow: 0 0 2em #a91d3a;
}

.card img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	border-radius: 8px;
}

.card h2 {
	margin-bottom: 0;
}
