header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	background-color: #151515;
	color: #cc0e35;
	border-bottom: 4px ridge #cc0e35;
}

.score-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: #c0b8ba;
}

.header h2 {
	font-size: 2.2rem;
}

header * {
	margin: 0;
}
